.Cards {
    display: flex;
    gap: 50px;
  }
  .parentContainer{
    width: 100%;
  }

  @media screen and (max-width: 1200px) {
    .Cards{
      flex-direction: column;
    }
    .parentContainer{
      height: 9rem;
    }
  }

  /* @media (min-width: 1024px) {
    .Cards{
      
      flex-direction: column;
    }
  } */
  
  @media screen and (max-width: 768px)
  {
    .Cards{
      width: 105%;
      transform: translate(18%,-70%);
    }
  }